body{
    background-color:rgb(193, 189, 189);
}
.nav{
    height:80px;
    margin: -8px;
    background-color:rgb(0,139,139,0.3);
    
}
.logo{
    top:15px;
}
li{
    list-style: none;
    float:left;
}